* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 60px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;

  position: sticky;
  top: 0;
  z-index: 1000;

  background: linear-gradient(90deg, #0f172a, #020617);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 22px;
  font-weight: 700;

  text-decoration: none;
  transition: 0.3s;

  background: linear-gradient(to right, #f43f5e, #fb7185);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo svg {
  font-size: 24px;
  color: #f43f5e;
}

.logo:hover {
  transform: scale(1.05);
}

.search-bar {
  flex: 1;
  max-width: 500px;
  display: flex;
  position: relative;
  z-index: 2000;
  justify-content: center;
  margin: 0 auto;
}

.search-wrapper {
  position: relative;

  height: 40px;
   display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 30px;
  overflow: visible;
  width: 100%;

  transition: 0.3s;
}

.search-wrapper:focus-within {
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 12px rgba(244, 63, 94, 0.4);
}

.search-wrapper input {
  flex: 1;
  font-size: 13px;
  padding: 0 10px;
  background: transparent;
  color: white;

  border: none;
  outline: none;

}

.search-wrapper input::placeholder {
  color: #94a3b8;
}

.search-btn {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 0 30px 30px 0;

  background: linear-gradient(135deg, #f43f5e, #e11d48);
  color: white;

  cursor: pointer;
}

.search-btn:hover {
  box-shadow: 0 0 12px rgba(244, 63, 94, 0.6);
}

.suggestions {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;

  background: #020617;
  border-radius: 10px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 99999;

  overflow: visible;
  animation: fadeIn 0.2s ease-in-out;
}

.suggestion-item {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 12px;
  cursor: pointer;
  transition: 0.2s;

  color: #e2e8f0;
}

.suggestion-item:hover {
  background: rgba(244, 63, 94, 0.2);
  color: #fff;
}

.suggestion-item img {
  width: 35px;
  border-radius: 6px;
}

.suggestion-item p {
  font-size: 14px;
}

.suggestion-item span {
  font-size: 12px;
  color: #94a3b8;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 18px;
  /* z-index: 1000; */
}

.nav-links a {
  position: relative;

  display: flex;
  align-items: center;
  gap: 6px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #cbd5f5;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #fff;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0%;
  height: 2px;

  background: linear-gradient(to right, #f43f5e, #fb7185);
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.login-btn {
  padding: 8px 18px;
  border-radius: 20px;

  background: linear-gradient(135deg, #f43f5e, #e11d48);
  color: #fff !important;

  font-weight: 600;
  box-shadow: 0 4px 12px rgba(244, 63, 94, 0.3);

  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.login-btn::after {
  display: none;
}
.login-btn:hover {
  transform: translateY(-2px) scale(1.05);

  box-shadow:
    0 8px 20px rgba(244, 63, 94, 0.6),
    0 0 10px rgba(244, 63, 94, 0.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .search-wrapper {
    max-width: 260px;
  }

  .nav-links {
    gap: 12px;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: stretch;

    height: auto;
    padding: 12px;
    gap: 12px;
  }

  .logo {
    align-self: flex-start;
  }

  .search-wrapper {
    max-width: 100%;
  }

  .suggestions {
    font-size: 14px;
  }

  .suggestion-item {
    padding: 12px;
  }

  .nav-links {
    width: 100%;
    justify-content: space-between;
  }
}


.genre-select {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 140px;
  padding: 0px 0px 0px 35px;
  font-size: 14px;
  cursor: pointer;

  appearance: none;
}

.genre-select option {
  color: black;
}

.divider {
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
}



@media (max-width: 768px) {
  .header {
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
  }

  .search-bar {
    order: 3;
    width: 80%;
    max-width: 100%;
    margin-top: 10px;
  }

  .search-wrapper {
    width: 100%;
  }
  .search-wrapper input {
    padding: 0 0;
    width: 70px;
  }
  .genre-select {
    width: 80px;
    padding: 0px 0px 0px 12px;
  }
 
}
@media (max-width: 600px) {
  .header {
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }

  .logo {
    font-size: 18px;
  }

  .search-bar {
    width: 100%;
  }

  .search-wrapper {
    height: 38px;
  }
}
