* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  font-family: sans-serif;
}

.home-section {
  padding: 20px 40px;
  background-color: #0f172a;
  min-height: 100vh;
  color: #fff;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-header h2 {
  font-size: 24px;
  font-weight: 600;
}
.toggle-buttons {
  display: flex;
  gap: 10px;
  background: #1e293b;
  padding: 4px;
  border-radius: 25px;
}

/* default */
.toggle-buttons button {
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  background: transparent;
  color: #cbd5e1;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* hover */
.toggle-buttons button:hover {
  color: white;
}

/* 🔥 ACTIVE BUTTON */
.active-btn {
  background: linear-gradient(to right, #3b82f6, #2563eb);
  color: white;
  box-shadow: 0 4px 15px rgba(59, 130, 246, 0.5);
}


.movie-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
}

.movie-slider::-webkit-scrollbar {
  display: none;
}

.movie-slider {
  scroll-snap-type: x mandatory;
}

.movie-card {
  min-width: 180px;
  flex-shrink: 0;
  scroll-snap-align: start;
  background-color: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.poster-wrapper {
  position: relative;
  overflow: hidden;
}

.poster-wrapper img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: 0.3s;
}

.poster-wrapper:hover img {
  transform: scale(1.05);
}

.watchlist-icon {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 36px;
  height: 36px;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);

  border: none;
  border-radius: 8px;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;

  opacity: 0;
}

.poster-wrapper:hover .watchlist-icon {
  opacity: 1;
}

.watchlist-icon:hover {
  background: #ef4444;
  transform: scale(1.1);
}

.content {
  padding: 10px;
}

.content h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.content p {
  font-size: 12px;
  color: #94a3b8;
}

.slider-controls {
  position: relative;
  margin-bottom: 10px;
}

.slider-controls button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);

  color: white;
  font-size: 18px;

  cursor: pointer;
  transition: 0.3s;
}

.slider-controls button:first-child {
  left: 1px;
  top: 160px;
}

.slider-controls button:last-child {
  right: 1px;
  top: 160px;
}

.slider-controls button:hover {
  background: #6e3c3f;
  transform: translateY(-50%) scale(1.1);
}

@media (max-width: 768px) {
  .home-section {
    padding: 20px;
  }

  .movie-card {
    min-width: 140px;
  }

  .poster-wrapper img {
    height: 200px;
  }

  .slider-controls button {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}
